{%	block	content	%}
<h1>
				{{	pokemon.name	}}
        {{  pokemon.description  }}
</h1>
<h2>Stats:</h2>
<p>
				{{	pokemon.stats	}} <br/>

</p>
<h2>Evolutions</h2>
  <li>Evolves From: {{pokemon.evolves_from}} </li>
  <li>Evolves To:  {{pokemon.evolves_to}} </li>
</h2>
<h2>Type and hability</h2>
  <li>Hability: {{ pokemon.HabilitySet.habs }} </li>
  <li>Type:  {{ pokemon.pokemontype.name }} </li>
</h2>
<a href= "{%url 'review_create' pokemon.id%}">Add Review</a>
</br><a href= "/pokemons">Return to pokemon list</a>
</br><a href= "/">Return to homepage</a>
{%	endblock	%}
