{%	block	content	%}
<h1><p>Review from Pokemon: {{	pokemonreview.pokemon.name	}}</p></h1>
        <h2>Review: {{  pokemonreview.ReviewText }}</h2>
        <p> Created by: {{ pokemonreview.user }}</p>
        {% if user == pokemonreview.user%}
          (<a href="{% url 'review_edit' pokemonreview.id%}">Edit Review</a>)
          (<a href="{% url 'review_delete' pokemonreview.id%}">Delete Review</a>)
        {% endif %}

      </br><a href= "/reviews">Return to pokemon list</a>
        </br><a href= "/">Return to homepage</a>
{%endblock%}
